<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/>
<body>
<div class="container">
    <div class="login">
        <h3>会员中心登录</h3>
        <div class="item">
            <div class="title">
                <div>
                    账号：
                </div>
                <input type="text" name="" id="" value="" placeholder="请输入您的账号"/>
            </div>
            <div class="password">
                <div>
                    密码：
                </div>
                <input type="password" name="" id="" value="" placeholder="请输入您的密码"/>
            </div>
        </div>
        <div class="submit-login">
            <button type="button" class="btn btn-danger submit">登录</button>
        </div>
    </div>
</div>

</body>
</html>
<script src="./js/jq.js"></script>
<srcipt src="./js/bootstrap.min.js"></srcipt>
<script type="text/javascript">

</script>
<style type="text/css">
    .login h3{
        text-align: center;
    }
    .login input{
        width: 100%;
    }
    .login .item .title{
        padding: 20px 0;
    }
    .submit-login{
        padding: 20px 0 0 0;
    }
    .submit-login button{

        width: 100%;
    }
</style>
